In [1]:
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq

In [2]:
# parquetファイル準備
df = pd.read_csv(r'input\user.csv')
table = pa.Table.from_pandas(df)
pq.write_table(table, r'input\user.parquet')

In [3]:
# 準備したparquetを読み込み
users = spark.read.parquet(r'input\user.parquet')

In [4]:
# 性別でパーティション分けして出力
users.where(users.sex == '男') \
     .write \
     .parquet(r'users/sex=male'
              , mode='overwrite')

In [5]:
users.where(users.sex == '女') \
     .write \
     .parquet(r'users/sex=female'
              , mode='overwrite')

In [6]:
# parquetから男性のみ読み込む
users_male = spark.read.parquet(r'users\sex=male')
users_male.groupby('sex').count().show()

+---+-----+
|sex|count|
+---+-----+
| 男|  927|
+---+-----+

In [7]:
# パーティションを結合してparquet全体を読み込む
users_all = spark.read.parquet('users')
users_all.groupby('sex').count().show()
users_all.show()
"""
※パーティションを結合した場合パーティションキー（この例では`sex`）と
　同じ名前のカラムがあると値が上書きされてしまったので本番では注意が必要
"""

+------+-----+
|   sex|count|
+------+-----+
|female| 1073|
|  male|  927|
+------+-----+

+-------+-----------+-------------+---+------+----------+-------+----------+
|user_id|family_name|personal_name|age|   sex|birth_date|pref_cd|active_flg|
+-------+-----------+-------------+---+------+----------+-------+----------+
|   3844|       舟橋|         志歩| 35|female| 1984/4/21|     17|         1|
|   8945|       茂木|         佳乃| 58|female| 1961/9/16|     39|         1|
|   9465|       清家|           鈴| 53|female|  1966/8/1|     31|         0|
|   5371|       植野|         麗子| 40|female|  1980/2/9|     29|         1|
|   3868|       伊波|         利恵| 49|female| 1970/6/26|     30|         0|
|   3725|       室井|           緑| 14|female| 2006/2/22|     22|         0|
|   6801|       磯田|         栄美| 19|female| 2000/7/12|     24|         1|
|   4614|       島袋|         栄美| 20|female|  2000/1/3|     28|         0|
|   4983|       兼田|         奏音| 42|female|1977/11/30|     33|         1|
|   2956|       塩原|       亜紀子| 37|female|  1982/8/3|      7|         0|
|   2772|       藤澤|         容子| 16|female| 2004/4/16|     39|         1|
|   3259|       江原|         春香| 31|female| 1988/4/24|     36|         0|
|   7713|       西本|           葵| 21|female| 1998/8/19|     28|         1|
|   6836|       小峰|         小春| 27|female|  1992/9/9|     21|         1|
|   2743|       冨田|         来未| 53|female|1966/11/25|     15|         1|
|   8975|       池野|         円美| 47|female| 1972/8/21|     41|         0|
|   9407|       宗像|         実可| 13|female| 2007/2/12|      3|         0|
|   2021|       南雲|         里香|  7|female| 2013/3/22|      2|         1|
|   7155|       川辺|         千夏| 27|female| 1993/3/27|     31|         0|
|   3103|       尾上|         麗華| 30|female| 1990/3/16|     25|         0|
+-------+-----------+-------------+---+------+----------+-------+----------+
only showing top 20 rows

'\n※パーティションを結合した場合パーティションキー（この例では`sex`）と\n\u3000同じ名前のカラムがあると値が上書きされてしまったので本番では注意が必要\n'